[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=genivi.zoom.com
Icon=/usr/share/icons/nuoveXT2/72x72/apps/firefox-icon.png
Exec=/home/vagrant/bin/firefox_wrapper.sh

